* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
  } 
  body {
    font-family: 'montserrat', sans-serif;
  }
.App{
    background-image: url('./img/WarmBG.jpeg');
    background-size: cover;
    background-position: bottom;
    transition: 0.4 ease-out;
}
.App.cold{
    background-image: url('./img/ColdBG.jpeg');
}
main {
  min-height: 100vh;
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.2), rgba(0,0,0,0.75))
}
.search-box {
  width: 100%;
  margin: 0 0 75px;
}

.search-box .search-bar{
  display: block;
  width: 100%;
  padding: 15px;

  appearance: none;
  background: none;
  border: none;
  outline: none;

  background-color: rgba(225,225,255, 0.5);
  border-radius: 0 0 16px 16px;
  margin-top: -25px;

  box-shadow: 0px 5px rgba(0,0,0,0.2);

  color: #313131;
  font-size: 20px;
  transition: 0.4s ease;
  
}
.search-box .search-bar:focus {
  background-color: rgba(255,255,255,0.75);
}

.location-box{
  width: 100%;
  margin: 0 0 75px;
}

.location {
  font-size: 40px;
  font-family: 'montserrat', Courier, monospace;
}

.date{
  font-size: 20px;
  font-family:'Courier New', Courier, monospace
}

.current-box{
  width: 100%;
  margin: 0 0 75px;
  align-items: center;
  justify-content: center;
  display: block;
}

.temp{
  display: block;
  background-color: rgba(0,0,0,0.2);
  border-radius: 8px;
  width: 60%;
  margin-left: 20%;
  height: 15vh;
  justify-content: center;
  text-align: center;
}

.temp-content{
  padding-top: 6%;
  padding-left: 5%;
  font-size: 80px;
}